/* 요소 선택자(type) */
h2 {
    color:dodgerblue;
}

/* 아이디 선택자 (id) */
#description{
    background-color:firebrick;
}

/* 클래스 선택자 (class) */
li.list-item{ /* 클래스는 .으로 접근 가능*/
    font-size: 20px;
}
ul li { /* ul태그 안에 있는 li 태그를 가져와라*/
    background-color: crimson
}