<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Search</title>
</head>
<body>
    <h1>구글 검색</h1>
    <!-- https://google.com/search?q=typora -->
    <form action="https://google.com/search">
        <input type="text" name="q"> <!--구글이 서치를 q로 받고있기 때문에 name=q-->
        <button type="submit">검색</button>  <!-- 설문지 form 작성 후 form 태그 안에 input,button 구현해야한다.-->
    </form>
</body>
</html>