<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ping</title>
</head>
<body>
    <!-- 1. 적을 수 있는 공간 --> <!-- 2. 작성했으면 어디로 보내라 -->
    <form action="/pong"> <!-- action => form 을 보내는 url을 정의하는 곳 -->
        <input type="text" name="age"> <!-- 사용자의 입력을 받는 부분 -->
        <button type="submit">제출하기</button> <!-- Button은 type을 정해줘야 한다. -->
    </form>  
    
    
</body>
</html>